.todo-completed{
	text-decoration: line-through;
}
.add-todo-cat-row{
	display: none;
	margin-top: 15px;
}
.bptodo-text-input{
	width: 50%;
}
.bptodo-expires-today, .bptodo-expired{
	color: red;
}