.todo-completed{
	text-decoration: line-through;
}
.add-todo-cat-row{
	display: none;
	margin-top: 15px;
}
.bptodo-text-input{
	width: 50%;
}
.bptodo-expires-today, .bptodo-expired{
	color: red;
}

/* TODO LIST CSS */
.bptodo-adming-setting{
	float: left;
	width: 100%;
}
button.bptodo-item {
	background-color: transparent;
	border: medium none;
	color: hsl(0, 0%, 27%);
	cursor: pointer;
	font-size: 15px;
	margin-bottom: 15px;
	outline: medium none;
	padding: 15px 20px;
	text-align: left;
	transition: all 0.4s ease 0s;
	width:100%;
	font-weight: bold;
}
button.bptodo-item:hover {
	color:white;
}
button.bptodo-item.active{
	color: #000;
}
div.panel {
	padding: 0 0px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin:0px 5%;
}
button.bptodo-item::after {
	color: hsl(0, 0%, 47%);
	content: "+";
	float: right;
	font-size: 13px;
	font-weight: bolder;
	margin-left: 5px;
}
button.bptodo-item::after:hover {
	color: #fff;
}
button.bptodo-item.active::after {
	content: "−";
	color: #000;
}
.bptodo-admin-row{
	clear: both;  
	overflow: hidden;
	padding-bottom: 5px;
}
.bptodo-item-accord{
	margin-left: 0px;
}
.bptodo-admin-row div.panel {
    margin: 0px;
}
table.bp-todo-reminder
 th {
    background: #f9f9f9;
    border: none;
    text-align: center;
}
table.bp-todo-reminder {
    border: none;
}

table.bp-todo-reminder tbody
 td.bp-to-do-actions ul li {
    display: inline-block;
    margin: 0px 6px;
    
}

table.bp-todo-reminder tbody
 td.bp-to-do-actions ul li a {
    
    background: #dedede;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    display: block;
    text-align: center;
    color: #313131;
    transition: all .3s;
}

table.bp-todo-reminder tbody
 td.bp-to-do-actions ul li a:hover {
    color: #fff;
    background: #2094f4;
}
table.bp-todo-reminder tbody
 td {
    text-align: center;
}

td.bp-to-do-actions ul {
    margin: 0px;
}
.add-todo-category i {
    margin-left: 10px;
    font-size: 30px;
}
.buddyboss-select {
    width: 50%;
}
.add-todo-cat-row input {
    width: 50%;
}

.bptodo-add-cat-empty::-webkit-input-placeholder {
    color: red;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 35%; /* Full width */
    height: 35%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	padding:0px!important;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 35%!important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-100px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #fff!important;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px 20px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 20px 20px;
    background-color: #5cb85c;
    color: white;
}
.add-todo-block tr td {
    border: none;
    /*vertical-align: top!important;*/
}
#bptodo-calender .buddyboss-select-inner select {
    width: 100%!important;
}